@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

.font-alata {
    font-family: 'Alata', sans-serif;
}

.ficon:hover {
    filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg) brightness(105%) contrast(104%);
}